numpy
pandas
pyarrow
fastparquet
arch
joblib
kagglehub
matplotlib
polars
pyinform
python_binance==1.0.27
scipy
seaborn
statsmodels
torch==2.4.0
torchvision
torchaudio
tqdm
transformers
yfinance==0.2.28
